body{
    background-image: url(backgroundbenar.jpg) ;
    background-size: cover;
}

h2{
    text-align: center;
    color: darkred;
    background-color: white;
    font-family:font1;
}

h1{
    text-align: center;
    color: black;
    background-color: aliceblue;
    font-family:font1;
}

img.shadow{
    width: 10%;
    border-radius: 25%;
}

img.shadow{
    width: 15%;
    border-radius: 10%;
    border: 4px solid red;
    padding: 3px;
}

img:hover.shadow{
    box-shadow: 10px 10px 5px blueviolet;
}

p.nama{
    text-align: center;
    color: blueviolet;
    font-family:font1;
}

p.tempat{
    text-align: center;
    color: deeppink;
    font-family:font1;
}

p.tgl{
    text-align: center;
    color: brown;
    font-family:font1;
}

p.alamat{
    text-align: center;
    color: crimson;
    font-family:font1;
}

p.email{
    text-align: center;
    color: coral;
    font-family:font1;
}

p.hobi{
    text-align: center;
    color: darkmagenta;
    font-family:font1;
}

p.makan{
    text-align: center;
    color: darkorchid;
    font-family:font1;
}

img.cookies{
    width: 15%;
    border-radius: 15%;
}

img:hover.cookies{
    box-shadow: 10px 10px 5px palevioletred;
}

img.mochi{
    width: 15%;
    border-radius: 15%;
}

img:hover.mochi{
    box-shadow: 10px 10px 5px palevioletred;
}

img.bakso{
    width: 15%;
    border-radius: 15%;
}

img:hover.bakso{
    box-shadow: 10px 10px 5px palevioletred;
}

p.motto{
    text-align: center;
    color: blue;
    font-family:font1;
}

p.pesan{
    text-align: center;
    color: darkviolet;
    font-family:font1;
}

@font-face {
    font-family:font1;
    src: url(Milk\ Cream.otf);
}